#header-color {
  color: #31a5ac;
}
.artwork img {
  width: 600px;
  height: 600px;
}
.form {
  background-color: bisque;
  width: 705px;
  height: 700px;
}

#empty-error {
  display: none;
  color: red;
}

#income-error {
  display: none;
  color: red;
}
#saving-error {
  display: none;
  color: red;
}

#saving-text-error {
  display: none;
  color: red;
}
#zero-error {
  display: none;
  color: red;
}
